// COMMON :: START

.copyright {
	display: flex;
	justify-content: center;
	text-align: center;

	&__text {
		font-size: 16px;
		color: #ffffff;
		@include adaptive(767) {
			font-size: 12px;
		}
	}
}

// COMMON :: END
