@charset "UTF-8";
/* line 14, src/scss/_utilities/_extend.scss */
.video__bg video,
.video__bg iframe, .reviews__box-media > div img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@font-face {
  font-family: "iconFont";
  src: url("../fonts/iconFont.eot");
  src: url("../fonts/iconFont.eot?#iefix") format("eot"), url("../fonts/iconFont.woff2") format("woff2"), url("../fonts/iconFont.woff") format("woff"), url("../fonts/iconFont.ttf") format("truetype"), url("../fonts/iconFont.svg#iconFont") format("svg");
}

/* line 23, src/scss/_generated/_spriteFont.scss */
.icon-play:before, .icon-star:before {
  font-family: "iconFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

/* line 41, src/scss/_generated/_spriteFont.scss */
.icon-play:before {
  content: "";
}

/* line 41, src/scss/_generated/_spriteFont.scss */
.icon-star:before {
  content: "";
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-ExtraLight.woff2") format("woff2"), url("../fonts/Metropolis-ExtraLight.woff") format("woff"), url("../fonts/Metropolis-ExtraLight.ttf") format("truetype"), url("../fonts/Metropolis-ExtraLight.svg#Metropolis") format("svg");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-ExtraBold.woff2") format("woff2"), url("../fonts/Metropolis-ExtraBold.woff") format("woff"), url("../fonts/Metropolis-ExtraBold.ttf") format("truetype"), url("../fonts/Metropolis-ExtraBold.svg#Metropolis") format("svg");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Light.woff2") format("woff2"), url("../fonts/Metropolis-Light.woff") format("woff"), url("../fonts/Metropolis-Light.ttf") format("truetype"), url("../fonts/Metropolis-Light.svg#Metropolis") format("svg");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Bold.woff2") format("woff2"), url("../fonts/Metropolis-Bold.woff") format("woff"), url("../fonts/Metropolis-Bold.ttf") format("truetype"), url("../fonts/Metropolis-Bold.svg#Metropolis") format("svg");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Regular.woff2") format("woff2"), url("../fonts/Metropolis-Regular.woff") format("woff"), url("../fonts/Metropolis-Regular.ttf") format("truetype"), url("../fonts/Metropolis-Regular.svg#Metropolis") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Medium.woff2") format("woff2"), url("../fonts/Metropolis-Medium.woff") format("woff"), url("../fonts/Metropolis-Medium.ttf") format("truetype"), url("../fonts/Metropolis-Medium.svg#Metropolis") format("svg");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Black.woff2") format("woff2"), url("../fonts/Metropolis-Black.woff") format("woff"), url("../fonts/Metropolis-Black.ttf") format("truetype"), url("../fonts/Metropolis-Black.svg#Metropolis") format("svg");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Thin.woff2") format("woff2"), url("../fonts/Metropolis-Thin.woff") format("woff"), url("../fonts/Metropolis-Thin.ttf") format("truetype"), url("../fonts/Metropolis-Thin.svg#Metropolis") format("svg");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-SemiBold.woff2") format("woff2"), url("../fonts/Metropolis-SemiBold.woff") format("woff"), url("../fonts/Metropolis-SemiBold.ttf") format("truetype"), url("../fonts/Metropolis-SemiBold.svg#Metropolis") format("svg");
  font-style: normal;
  font-weight: 600;
}

/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 6, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  width: 100%;
  overflow: hidden !important;
}

/* line 13, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 19, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  font-family: "Metropolis", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 33, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 38, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 44, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 51, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 54, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 61, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 71, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 77, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 83, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 89, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 95, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 100, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 108, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 113, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 119, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 124, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 131, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 135, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 8, src/scss/_shared/_grid.scss */
.c-grid, .c-grid-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* line 20, src/scss/_shared/_grid.scss */
.c-grid {
  max-width: 1240px;
}

/* line 26, src/scss/_shared/_grid.scss */
.c-grid-fluid {
  max-width: 100%;
}

/* line 3, src/scss/_shared/_common.scss */
.copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

/* line 8, src/scss/_shared/_common.scss */
.copyright__text {
  font-size: 16px;
  color: #ffffff;
}

/* line 1, src/scss/_shared/_magnificPopup.scss */
.c-modal {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

/* line 16, src/scss/_shared/_magnificPopup.scss */
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

/* line 22, src/scss/_shared/_magnificPopup.scss */
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 28, src/scss/_shared/_magnificPopup.scss */
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

/* line 32, src/scss/_shared/_magnificPopup.scss */
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* line 38, src/scss/_shared/_magnificPopup.scss */
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
}

/* line 42, src/scss/_shared/_magnificPopup.scss */
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/* line 53, src/scss/_shared/_magnificPopup.scss */
.mfp-slide-in .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

/* line 59, src/scss/_shared/_magnificPopup.scss */
.mfp-slide-in.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 65, src/scss/_shared/_magnificPopup.scss */
.mfp-slide-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

/* line 69, src/scss/_shared/_magnificPopup.scss */
.mfp-slide-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* line 75, src/scss/_shared/_magnificPopup.scss */
.mfp-slide-in.mfp-removing .mfp-with-anim {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

/* line 79, src/scss/_shared/_magnificPopup.scss */
.mfp-slide-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/* line 1, src/scss/_shared/_iconFont.scss */
.icon-font {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

/* line 3, src/scss/_macros/_logotype.scss */
.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 8, src/scss/_macros/_logotype.scss */
.logo.logo--footer .logo__btn {
  max-width: 223px;
}

/* line 11, src/scss/_macros/_logotype.scss */
.logo.logo--footer .logo__btn img {
  height: 45px;
}

/* line 18, src/scss/_macros/_logotype.scss */
.logo__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 23, src/scss/_macros/_logotype.scss */
.logo img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 3, src/scss/_macros/_title.scss */
.c-title {
  padding-bottom: 25px;
  color: #3c3c3c;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 10, src/scss/_macros/_title.scss */
.c-title--white {
  color: #ffffff;
}

/* line 13, src/scss/_macros/_title.scss */
.c-title--gold {
  color: #bea67c;
}

/* line 3, src/scss/_macros/_btn.scss */
.c-btn {
  outline: none;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid #006470;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 2rem;
          border-radius: 2rem;
  background-color: #006470;
}

/* line 19, src/scss/_macros/_btn.scss */
.c-btn__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 23, src/scss/_macros/_btn.scss */
.c-btn__wrapper--center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 26, src/scss/_macros/_btn.scss */
.c-btn__wrapper--end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* line 29, src/scss/_macros/_btn.scss */
.c-btn__wrapper--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 34, src/scss/_macros/_btn.scss */
.c-btn span {
  z-index: 2;
  position: relative;
  padding-top: 3px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
}

/* line 3, src/scss/_components/common/_footer.scss */
.footer {
  background-color: #ffffff;
  background-image: url("../img/img-footer-bg@2x.png");
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-background-size: cover;
          background-size: cover;
}

/* line 13, src/scss/_components/common/_footer.scss */
.footer__container-2 {
  background-color: #00a79b;
}

/* line 19, src/scss/_components/common/_footer.scss */
.footer__wrapper-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 330px;
  padding-bottom: 132px;
}

/* line 26, src/scss/_components/common/_footer.scss */
.footer__wrapper-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 50px;
}

/* line 33, src/scss/_components/common/_footer.scss */
.footer__wrapper-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 76px;
}

/* line 40, src/scss/_components/common/_footer.scss */
.footer__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 45, src/scss/_components/common/_footer.scss */
.footer__col-1, .footer__col-2, .footer__col-3 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 53, src/scss/_components/common/_footer.scss */
.footer__col-4 {
  width: 100%;
  max-width: 45%;
}

/* line 59, src/scss/_components/common/_footer.scss */
.footer__title {
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
}

/* line 67, src/scss/_components/common/_footer.scss */
.footer__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 71, src/scss/_components/common/_footer.scss */
.footer__nav a {
  font-size: 16px;
  color: #ffffff;
  line-height: 25px;
}

/* line 78, src/scss/_components/common/_footer.scss */
.footer__address {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 82, src/scss/_components/common/_footer.scss */
.footer__address p {
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  line-height: 25px;
}

/* line 89, src/scss/_components/common/_footer.scss */
.footer__address span {
  font-size: 16px;
  color: #ffffff;
  line-height: 25px;
}

/* line 95, src/scss/_components/common/_footer.scss */
.footer__address a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  color: #ffffff;
  line-height: 25px;
}

/* line 101, src/scss/_components/common/_footer.scss */
.footer__address a:first-of-type {
  color: #efc02f;
}

/* line 107, src/scss/_components/common/_footer.scss */
.footer__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 330px;
  margin-left: auto;
}

/* line 115, src/scss/_components/common/_footer.scss */
.footer__form-title {
  padding-bottom: 35px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-align: right;
}

/* line 124, src/scss/_components/common/_footer.scss */
.footer__form-info {
  display: block;
  text-align: right;
  font-size: 16px;
  color: #ffffff;
}

/* line 131, src/scss/_components/common/_footer.scss */
.footer__form label {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 25px;
}

/* line 137, src/scss/_components/common/_footer.scss */
.footer__form label input {
  outline: none;
  position: relative;
  width: 100%;
  height: 41px;
  padding: 0 140px 0 15px;
  border: 2px solid #00a89c;
  -webkit-border-radius: 2rem;
          border-radius: 2rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #ffffff;
  font-size: 16px;
}

/* line 88, src/scss/_utilities/_mixin.scss */
.footer__form label input.placeholder {
  color: #505050;
  font-size: 16px;
}

/* line 89, src/scss/_utilities/_mixin.scss */
.footer__form label input:-moz-placeholder {
  color: #505050;
  font-size: 16px;
}

/* line 90, src/scss/_utilities/_mixin.scss */
.footer__form label input::-moz-placeholder {
  color: #505050;
  font-size: 16px;
}

/* line 91, src/scss/_utilities/_mixin.scss */
.footer__form label input:-ms-input-placeholder {
  color: #505050;
  font-size: 16px;
}

/* line 92, src/scss/_utilities/_mixin.scss */
.footer__form label input::-webkit-input-placeholder {
  color: #505050;
  font-size: 16px;
}

/* line 154, src/scss/_components/common/_footer.scss */
.footer__form label .c-btn {
  border-color: #00a89c;
  background-color: #00a89c;
}

/* line 158, src/scss/_components/common/_footer.scss */
.footer__form label .c-btn__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-border-radius: 2rem;
          border-radius: 2rem;
}

/* line 3, src/scss/_components/homepage/_video.scss */
.video {
  position: relative;
}

/* line 6, src/scss/_components/homepage/_video.scss */
.video__bg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 14, src/scss/_components/homepage/_video.scss */
.video__bg .icon-font {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.07);
  font-size: 650px;
}

/* line 29, src/scss/_components/homepage/_video.scss */
.video__bg:after {
  content: '';
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 7, 7, 0.7);
}

/* line 41, src/scss/_components/homepage/_video.scss */
.video__wrapper {
  z-index: 5;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 100vh;
  text-align: right;
}

/* line 50, src/scss/_components/homepage/_video.scss */
.video__wrapper > div {
  width: 100%;
  max-width: 515px;
  margin-left: auto;
}

/* line 57, src/scss/_components/homepage/_video.scss */
.video__desc {
  padding-bottom: 50px;
  font-size: 16px;
  color: #ffffff;
}

/* line 3, src/scss/_components/homepage/_reviews.scss */
.reviews {
  overflow: hidden;
  position: relative;
  padding-top: 150px;
  padding-bottom: 80px;
}

/* line 9, src/scss/_components/homepage/_reviews.scss */
.reviews__bg {
  z-index: 0;
  opacity: 0;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: -webkit-calc(100% - (50px + 50px));
  height: calc(100% - (50px + 50px));
  background-color: #f3f3f3;
}

/* line 20, src/scss/_components/homepage/_reviews.scss */
.reviews__wrapper {
  z-index: 2;
  position: relative;
}

/* line 25, src/scss/_components/homepage/_reviews.scss */
.reviews__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

/* line 31, src/scss/_components/homepage/_reviews.scss */
.reviews__subtitle {
  color: #3c3c3c;
  font-size: 20px;
}

/* line 36, src/scss/_components/homepage/_reviews.scss */
.reviews__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 53px;
  height: 53px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 11.437px 17.612px 23.28px 0.72px rgba(80, 80, 80, 0.05);
          box-shadow: 11.437px 17.612px 23.28px 0.72px rgba(80, 80, 80, 0.05);
  background-color: white;
  -webkit-transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* line 47, src/scss/_components/homepage/_reviews.scss */
.reviews__btn.swiper-button-disabled {
  pointer-events: none;
  opacity: 0.55;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

/* line 53, src/scss/_components/homepage/_reviews.scss */
.reviews__btn:not(:last-of-type) {
  margin-right: 20px;
}

/* line 57, src/scss/_components/homepage/_reviews.scss */
.reviews__btn:hover {
  background-color: #006470;
  -webkit-transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* line 61, src/scss/_components/homepage/_reviews.scss */
.reviews__btn:hover span {
  color: #fff;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 67, src/scss/_components/homepage/_reviews.scss */
.reviews__btn-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 300px;
}

/* line 73, src/scss/_components/homepage/_reviews.scss */
.reviews__btn span {
  font-size: 25px;
  color: #3c3c3c;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 80, src/scss/_components/homepage/_reviews.scss */
.reviews__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  padding: 20px;
  background-color: #00a79b;
  -webkit-box-shadow: 11.437px 17.612px 23.28px 0.72px rgba(80, 80, 80, 0.05);
          box-shadow: 11.437px 17.612px 23.28px 0.72px rgba(80, 80, 80, 0.05);
}

/* line 88, src/scss/_components/homepage/_reviews.scss */
.reviews__box-head {
  padding-bottom: 20px;
}

/* line 92, src/scss/_components/homepage/_reviews.scss */
.reviews__box-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding-bottom: 20px;
}

/* line 99, src/scss/_components/homepage/_reviews.scss */
.reviews__box-rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
}

/* line 105, src/scss/_components/homepage/_reviews.scss */
.reviews__box-rating > div:nth-of-type(1) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 111, src/scss/_components/homepage/_reviews.scss */
.reviews__box-rating .icon-font {
  font-size: 15px;
  color: #efc02f;
}

/* line 115, src/scss/_components/homepage/_reviews.scss */
.reviews__box-rating .icon-font:not(:last-of-type) {
  margin-right: 5px;
}

/* line 120, src/scss/_components/homepage/_reviews.scss */
.reviews__box-rating p {
  padding-top: 2px;
  padding-left: 10px;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}

/* line 132, src/scss/_components/homepage/_reviews.scss */
.reviews__box-desc p,
.reviews__box-desc span {
  color: #ffffff;
  font-size: 16px;
}

/* line 138, src/scss/_components/homepage/_reviews.scss */
.reviews__box-desc p {
  font-weight: 700;
}

/* line 143, src/scss/_components/homepage/_reviews.scss */
.reviews__box-media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

/* line 147, src/scss/_components/homepage/_reviews.scss */
.reviews__box-media > div {
  overflow: hidden;
  position: relative;
  width: 80px;
  height: 80px;
}

/* line 153, src/scss/_components/homepage/_reviews.scss */
.reviews__box-media > div:not(:last-of-type) {
  margin-right: 10px;
}

/* line 165, src/scss/_components/homepage/_reviews.scss */
.reviews .swiper-container {
  opacity: 0;
}

/* line 169, src/scss/_components/homepage/_reviews.scss */
.reviews .swiper-slide {
  width: 400px !important;
  height: auto;
  min-height: 100%;
}

/*# sourceMappingURL=maps/app.css.map */
