---
title: 4seasons

pageClassName: p-home
---
extends shared/_layout

block content
  div.body.body--start(class!= pageClassName)

    include components/homepage/_main
    include components/homepage/_gallery
    include components/homepage/_products
    include components/homepage/_delivery
    include components/homepage/_video
    include components/homepage/_reviews
