---
title: 4seasons | Product Types

pageClassName: p-product-types
innerMenu: true
---
extends shared/_layout

block content
  div.body.body--start(class!= pageClassName)

    include components/product-types/_main
    include components/product-types/_about
    include components/product-types/_series
