// FOOTER :: START

footer#footer.footer

  .footer__bg
    img(src="img/img-leaves-1.png" srcset="img/img-leaves-1@2x.png 2x" alt="" floating-node-js)
    img(src="img/img-leaves-2.png" srcset="img/img-leaves-2@2x.png 2x" alt="" floating-node-js)
    img(src="img/img-leaves-3.png" srcset="img/img-leaves-3@2x.png 2x" alt="" floating-node-js)
    img(src="img/img-leaves-1.png" srcset="img/img-leaves-1@2x.png 2x" alt="" floating-node-js)

  .footer__container.footer__container-1

    .c-grid
      .footer__wrapper.footer__wrapper-1

        .footer__wrapper-top

          .logo.logo--footer
            a.logo__btn(href="/")
              img(src="img/logo.svg" alt="")

        .footer__wrapper-bottom

          .footer__row
            .footer__col.footer__col-1
              p.footer__title Navigate

              nav.footer__nav
                a(href="#") Search
                a(href="#") Shop All
                a(href="#") Your Cart
                a(href="#") About Us
                a(href="#") Contact Us

            .footer__col.footer__col-2
              p.footer__title Support

              nav.footer__nav
                a(href="#") Refund Policy
                a(href="#") Delivery & Warranty
                a(href="#") FAQs
                a(href="#") Privacy Policy
                a(href="#") Terms of Use

            .footer__col.footer__col-3
              p.footer__title Contact Us

              .footer__address
                p 4Season Grow Lights Ltd
                span 153 Hepburn Road,
                span Glendene, Auckland 0602
                a(href="mailto:contact@4seasongrowlights.com") contact@4seasongrowlights.com
                a(href="tel:050844372257") 0508 4 4372257

            .footer__col.footer__col-4

              form.footer__form(action='' method='' autocomplete='off')
                p.footer__form-title Let's stay in touch

                label
                  input(type='text' name='' placeholder='Enter your email now')
                  .c-btn__wrapper
                    button.c-btn(type='submit')
                      span SEND

                span.footer__form-info Join us to receive exclusive offers, new product announcements

  .footer__container.footer__container-2

    .c-grid
      .footer__wrapper.footer__wrapper-2

        .copyright
          p.copyright__text Copyright ©  2021 4SeasonGrowLights. All rights reserved.

// FOOTER :: END
