// HEADER :: START

header#header.header
  .c-grid-fluid

    .header__wrapper
      .header__wrapper-left

        .logo.logo--header
          a.logo__btn(href="/")
            img(src="img/logo.svg" alt="")
            img(src="img/logo--black.svg" alt="")

      .header__wrapper-middle(mobile-block-js)

        nav.header__nav
          a(href="#" class!= (pageClassName === 'p-product-types')?"is-active":"") LED GROW LIGHTS
          a(href!= (innerMenu) ? "/index.html#delivery":'#delivery' anchor-js!= (innerMenu)? false:"anchor-js") DELIVERY
          a(href="/about.html" class!= (pageClassName === 'p-about') ? 'is-active': '') ABOUT US
          a(href!= (innerMenu) ? "#contacts":"/about.html#contacts" anchor-js!= (innerMenu)?"anchor-js":false) CONTACTS

      .header__wrapper-right

        a.header__search(href="#" search-js)
          i.icon-font.icon-search

        +hamburger()

  .header__search-wrapper(search-content-js)
    label
      input(type='text' name='' placeholder='Search...')
    a(href="#" search-close-js)
      i.icon-font.icon-close


// HEADER :: END
