// HEADER :: START

header#header.header
  .c-grid-fluid

    .header__wrapper
      .header__wrapper-left

        .logo.logo--header
          a.logo__btn(href="/")
            img(src="img/logo.svg" alt="")
            img(src="img/logo--black.svg" alt="")

      .header__wrapper-middle

        nav.header__nav
          a(href="#") LED GROW LIGHTS
          a(href="#") DELIVERY
          a(href="#") FAQs
          a(href="#") ABOUT US
          a(href="#") CONTACTS

      .header__wrapper-right

        a.header__search(href="#" search-js)
          i.icon-font.icon-search

  .header__search-wrapper(search-content-js)
    label
      input(type='text' name='' placeholder='Search...')
    a(href="#" search-close-js)
      i.icon-font.icon-close


// HEADER :: END
