// SECTION :: START

.delivery {
	position: relative;
	padding-top: 125px;
	padding-bottom: 90px;
	@include adaptive(1023) {
		padding-bottom: 50px;
	}
	@include adaptive(767) {
		padding-top: 75px;
	}

	&__bg {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		@include adaptive(767) {
			width: 80%;
		}

		img {
			position: absolute;
			top: calc(50% + 100px);
			transform: translateY(-50%);
			right: 0;
			display: block;
			max-width: 100%;
			height: auto;
			@include adaptive(767) {
				top: 50%;
			}
		}
	}

	&__wrapper {
		z-index: 2;
		position: relative;
	}

	&__title {
		padding-bottom: 50px;
		text-align: center;
		@include adaptive(767) {
			padding-bottom: 30px;
		}
	}

	&__box {
		display: flex;
		align-items: center;
		flex-direction: column;

		&-wrapper {
			position: relative;
			left: -95px;
			display: flex;
			flex-wrap: wrap;
			width: calc(100% + 95px);
			@include adaptive(1023) {
				left: -40px;
				width: calc(100% + 40px);
			}
			@include adaptive(767) {
				left: 0;
				width: 100%;
			}

			> div {
				width: 100%;
				max-width: calc(100% / 3);
				padding-left: 95px;
				padding-bottom: 50px;
				@include adaptive(1023) {
					padding-left: 40px;
				}
				@include adaptive(767) {
					max-width: 100%;
					padding-left: 0;
				}
			}
		}

		&-head {
			overflow: hidden;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 120px;
			height: 120px;
			border-radius: 50%;
			background-color: #006470;
			@include adaptive(767) {
				width: 90px;
				height: 90px;
			}

			.icon-font {
				color: #ffffff;
				font-size: 60px;
				@include adaptive(767) {
					font-size: 50px;
				}
			}
		}

		&-body {
			padding-top: 50px;
			text-align: center;
			@include adaptive(767) {
				padding-top: 30px;
			}

			p {
				padding-bottom: 25px;
				text-transform: uppercase;
				color: #3c3c3c;
				font-size: 20px;
				font-weight: 700;
				@include adaptive(767) {
					padding-bottom: 15px;
					font-size: 16px;
				}
			}

			span {
				color: #3c3c3c;
				font-size: 16px;
			}
		}
	}
}

// SECTION :: END
