// SECTION :: START

.main {
	position: relative;
	background-color: #ffffff;

	&.main--prouct-types,
	&.main--about {
		.main {
			&__bg {
				&:after {
					height: 150px;
					@include adaptive(1365) {
						height: 250px;
					}
					@include adaptive(1279) {
						height: 200px;
					}
					@include adaptive(1023) {
						height: 150px;
					}
					@include adaptive(767) {
						//height: calc(100% - 375px);
					}
				}

				&-visual {
					@include adaptive(1439) {
						background-position: left 300px;

						&:after {
							height: 10%;
						}
					}
					@include adaptive(1365) {
					  background-size: contain;
					}
					@include adaptive(1279) {
						background-position: left 250px;
					}
					@include adaptive(1023) {
						background-position: left 155px;
					}
					@include adaptive(767) {
						top: 115px;
						background-position: center;
					}
				}
			}

			&__wrapper {
				@include adaptive(1279) {
					padding-top: 400px;
				}
				@include adaptive(1023) {
					max-width: 500px;
					padding-top: 300px;
					padding-bottom: 0;
				}
				@include adaptive(767) {
					padding-top: 210px;
				}
			}
		}
	}

	&.main--prouct-types {
		.main {
			&__title {
				@include adaptive(767) {
					max-width: 75%;
				}
			}
		}
	}

	&:after {
		content: '';
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 200px;
		background: linear-gradient(to bottom, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%);
	}

	&__img {
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 80%;

		img {
			@extend %imageResCoverAbs;
		}
	}

	&__bg {
		z-index: 0;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		
		&-branch {
			z-index: 3;
			position: absolute;
			top: auto;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;

			img {
				opacity: 0.08;
				position: absolute;
				display: block;
				max-width: 100%;
				height: auto;

				&:nth-of-type(1) {
					left: 0;
					bottom: 0;
					@include adaptive(1279) {
						display: none !important;
					}
				}
				&:nth-of-type(2) {
					left: 25%;
					bottom: 200px;
				}
				&:nth-of-type(3) {
					left: 50%;
					bottom: 100px;
				}
				&:nth-of-type(4) {
					bottom: 0;
					right: 0;
					@include adaptive(1279) {
						display: none !important;
					}
				}
			}
		}

		&-visual {
			z-index: 2;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url('../img/img-main-overlay.svg');
			background-repeat: no-repeat;
			background-position: left 300px;
			@include adaptive(1439) {
				background-position: left 150px;

				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 30%;
					background-color: #ffffff;
				}
			}
			@include adaptive(767) {
				top: 175px;
				height: 200px;
				background-position: center;
			  background-size: cover;

				&:after {
					display: none;
				}
			}
		}

		&-product {
			z-index: 5;
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			@include adaptive(1439) {
				display: flex;
				align-items: center;
				width: 50%;
			}
			@include adaptive(767) {
				align-items: flex-start;
				width: 60%;
				padding-top: 175px;
			}

			img {
				z-index: 5;
				position: absolute;
				bottom: 30px;
				right: 50px;
				display: block;
				max-width: 100%;
				height: auto;
				@include adaptive(1439) {
					bottom: auto;
					right: 25px;
					max-width: 80%;
				}
				@include adaptive(767) {
					right: 0;
				}
			}
		}

		&:after {
			content: '';
			z-index: -1;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 250px;
			background-color: #ffffff;
			@include adaptive(767) {
				height: calc(100% - 375px);
			}
		}
	}

	&__wrapper {
		z-index: 2;
		position: relative;
		width: 100%;
		max-width: 768px;
		padding-top: 600px;
		padding-bottom: 170px;
		@include adaptive(1439) {
			padding-top: 450px;
		}
		@include adaptive(1365) {
			max-width: 650px;
		}
		@include adaptive(1279) {
			max-width: 50%;
			padding-bottom: 50px;
		}
		@include adaptive(767) {
			max-width: 100%;
			padding-top: 310px;
			padding-bottom: 20px;
		}
	}

	&__title {
		text-transform: uppercase;
		padding-bottom: 50px;
		font-size: 60px;
		font-weight: 700;
		color: #3c3c3c;
		@include adaptive(1535) {
			font-size: 50px;
		}
		@include adaptive(1365) {
			font-size: 40px;
		}
		@include adaptive(767) {
			width: 100%;
			max-width: 50%;
			padding-bottom: 30px;
			font-size: 30px;
		}
	}

	&__subtitle {
		padding-bottom: 25px;
		font-size: 30px;
		font-weight: 700;
		color: #3c3c3c;
		@include adaptive(1365) {
			font-size: 26px;
		}
		@include adaptive(767) {
			padding-bottom: 15px;
			font-size: 20px;
		}
	}

	&__desc {
		padding-bottom: 50px;
		font-size: 25px;
		color: #3c3c3c;
		@include adaptive(1365) {
			font-size: 22px;
		}
		@include adaptive(767) {
			padding-bottom: 30px;
			font-size: 16px;
		}
	}

	&__btn {
		@include adaptive(767) {
			justify-content: center;

			.c-btn {
				width: 100%;
				max-width: 200px;
			}
		}
	}
}

// SECTION :: END
