// STYLE :: START

link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.3/swiper-bundle.min.css" integrity="sha512-dyhCm56bLHnyu21gROPZwclvKzwszrpvsz4PLLgH7kmQm8YIZISE6veUpvFXv2AXg+ZS5LJrMnqzoka+ZHd4fw==" crossorigin="anonymous")

if(env)
  link(rel="stylesheet" href="css/bundle.min.css")
else
  link(rel="stylesheet" href="css/vendor.css")
  link(rel="stylesheet" href="css/app.css")

// STYLE :: END
