// LOGOTYPE :: START

.logo {
	display: flex;

	&.logo--footer {}

	&__btn {
		display: flex;
		align-items: flex-start;
		max-width: 223px;
	}

	img {
		display: block;
		max-width: 100%;
		height: auto;
		height: 45px;
	}
}

// LOGOTYPE :: END
