// TITLE :: START

.c-title {
  padding-bottom: 25px;
  color: #3c3c3c;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  @include adaptive(1535) {
    font-size: 26px;
  }
  @include adaptive(767) {
    font-size: 20px;
  }

  &--white {
    color: #ffffff;
  }
  &--gold {
    color: #bea67c;
  }
}

// TITLE :: END
