// HEADER :: START

.header {
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0 5px 15px 0 rgba(#000, 0);
	background-color: transparent;
	@include transition(box-shadow, background-color);

	.is-hideScroll &,
	&.is-fixed {
		box-shadow: 0 5px 15px 0 rgba(#000, 0.075);
		background-color: rgba(#ffffff, 0.975);
		@include transition(box-shadow, background-color);

		.logo {
			&.logo--header {
				.logo {
					&__btn {
						img {
							@include transition(opacity, visibility);

							&:nth-of-type(1) {
								opacity: 0;
								visibility: hidden;
							}
							&:nth-of-type(2) {
								opacity: 1;
								visibility: visible;
							}
						}
					}
				}
			}
		}

		.hamburger {
			.hamburger-inner,
			.hamburger-inner::before,
			.hamburger-inner::after {
				background-color: #000000;
			}
		}

		.header {
			&__wrapper {
				padding-top: 25px;
				padding-bottom: 25px;
				@include transition(padding-top, padding-bottom);
				@include adaptive(767) {
					padding-top: 15px;
					padding-bottom: 15px;
				}
			}

			&__nav {
				a {
					color: #000000;
					@include transition(color);
				}
			}

			&__search {
				.icon-font {
					color: #000000;
					@include transition(color);
				}
			}
		}
	}

	.c-grid-fluid {
		padding-left: 80px;
		padding-right: 80px;
		@include adaptive(1365) {
			padding-left: 30px;
			padding-right: 30px;
		}
		@include adaptive(1279) {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 45px;
		padding-bottom: 45px;
		@include transition(padding-top, padding-bottom);
		@include adaptive(1279) {
			padding-top: 25px;
			padding-bottom: 25px;
		}
		@include adaptive(767) {
			padding-top: 15px;
			padding-bottom: 15px;
		}

		&-left,
		&-right {
			width: 100%;
			max-width: 250px;
		}

		&-middle {
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			@include adaptive(1279) {
				padding-left: 15px;
				padding-right: 15px;
			}
			@include adaptive(1023) {
				z-index: 999;
				opacity: 0;
				visibility: hidden;
				transform: translateY(10px);
				overflow-y: auto;
				position: fixed;
				top: 95px;
				left: 0;
				width: 100%;
				height: calc(100% - 95px);
				padding: 100px 50px 195px;
				flex: unset;
				flex-direction: column;
				background-color: rgba(#ffffff, 0.975);
				@include transition(opacity, visibility, transform);
				@include adaptive(767) {
					top: 75px;
					height: calc(100% - 75px);
					padding-bottom: 175px;
				}

				&.is-open {
					opacity: 1;
					visibility: visible;
					transform: translateY(0);
					@include transition(opacity, visibility, transform);
				}
			}
		}

		&-right {
			display: flex;
			justify-content: flex-end;
			@include adaptive(1279) {
				width: auto;
				max-width: unset;
			}

			.hamburger {
				display: none;
				margin-left: 15px;
				@include adaptive(1023) {
					display: flex;
				}
			}
		}
	}

	&__nav {
		display: flex;
		align-items: center;
		justify-content: center;
		@include adaptive(1023) {
		  flex-direction: column;
		}

		a {
			outline: none;
			position: relative;
			display: flex;
			margin-left: 25px;
			margin-right: 25px;
			padding-left: 5px;
			padding-right: 5px;
			font-size: 18px;
			font-weight: 600;
			color: #ffffff;
			@include transition(color);
			@include adaptive(1279) {
				margin-left: 20px;
				margin-right: 20px;
				font-size: 16px;
			}
			@include adaptive(1023) {
				margin-left: 0;
				margin-right: 0;
				margin-bottom: 35px;
			}

			&:hover {
				&:before,
				&:after {
					width: 50%;
					@include transition(width);
				}
			}

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 100%;
				width: 0;
				height: 3px;
				background-color: #00a79b;
				border-radius: 4px;
				@include transition(width);
			}

			&:before {
				left: 50%;
			}
			&:after {
				right: 50%;
			}
		}
	}

	&__search {
		display: flex;

		&-wrapper {
			z-index: 10;
			opacity: 0;
			visibility: hidden;
			transform: translateY(-100%);
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			align-items: center;
			width: 100%;
			height: 100%;
			padding-left: 80px;
			padding-right: 80px;
			background-color: rgba(#fff, 0.975);
			transform-origin: center;
			backface-visibility: hidden;
			@include transition(opacity, visibility, transform);
			@include adaptive(1365) {
				padding-left: 30px;
				padding-right: 30px;
			}
			@include adaptive(1279) {
				padding-left: 15px;
				padding-right: 15px;
			}

			&.is-open {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
				@include transition(opacity, visibility, transform);
			}

			label {
				display: flex;
				width: 100%;

				input {
					outline: none;
					position: relative;
					display: flex;
					width: 100%;
					height: 50px;
					padding: 0 25px;
					border-radius: 2rem;
					border: 2px solid #00a89c;
					box-shadow: none;
					background-color: #ffffff;
					font-size: 16px;
					font-weight: 500;
					color: #000000;
					@include inputPlaceholder {
						font-size: 16px;
						font-weight: 500;
					}
				}
			}

			a {
				display: flex;
				margin-left: 80px;
				font-size: 25px;
				color: #000000;
				@include adaptive(1279) {
					margin-left: 15px;
					font-size: 22px;
				}
			}
		}

		.icon-font {
			font-size: 25px;
			color: #ffffff;
			@include transition(color);
			@include adaptive(1279) {
				font-size: 22px;
			}
		}
	}
}

// HEADER :: END
