// SECTION :: START

section#about.about

  .c-grid

    .about__wrapper.about__wrapper-1
      .about__wrapper-left
        .about__media-wrapper
          .about__media
            img(src="img/img-about-1.jpg" srcset="img/img-about-1@2x.jpg 2x" alt="")
      .about__wrapper-right
        p.about__title.c-title Our Mission and Philosophy
        p.about__desc Our company specializes in manufacturing high-quality Agricultural lighting solutions focusing on the latest LED technology. Each component is built uniquely to our own specifications and work harmoniously together to ensure your plants receive the highest quality light available.
        p.about__desc We are immensely proud to have our assembly line locally in Auckland, meaning every single LED is hand built in New Zealand and is designed to operate in New Zealand climate and to local regulatory standards.

        .about__visual
          .about__visual-line.about__visual-line-1
          .about__visual-line.about__visual-line-2
          .about__visual-col.about__visual-col--first
            i.icon-font.icon-manufacture
            span
            u
          .about__visual-col
            i.icon-font.icon-production
            span
            u
          .about__visual-col
            i.icon-font.icon-solution
            span
            u
          .about__visual-col.about__visual-col--last
            i.icon-font.icon-planting
            span
            u

    .about__wrapper.about__wrapper-2
      .about__wrapper-left
        p.about__title.c-title our vision and development
        p.about__desc We have done the hard yards and travelled the world to ensure every component used is internationally recognized for their brilliance, a number of our LEDs feature the world-renowned CREE COB Lighting and four the ones that don't, feature our very own NZ Designed COBs, our COBs are built on German engineered Aluminium boards utilizing the latest BridgeLux Diodes.
        p.about__desc 4Seasons Grow Lights are world leaders in Grow Light innovation and will lead the way in Economy and Quality lighting to suit the residential grower all the way through to our Commercial  Agricultural clients relying on our products to produce high yields for their businesses.
        .about__btn.c-btn__wrapper
          a.c-btn(href="#")
            span CONTACT US

      .about__wrapper-right
        .about__media-wrapper
          .about__media
            img(src="img/img-about-2.jpg" srcset="img/img-about-2@2x.jpg 2x" alt="")

// SECTION :: END
