// SECTION :: START

main#main.main.main--about(style='background-image: url("img/img-about.jpg")')

  .main__bg
    .main__bg-branch
      img(src="img/img-leaves-1.png" srcset="img/img-leaves-1@2x.png 2x" alt="" floating-node-js)
      img(src="img/img-leaves-2.png" srcset="img/img-leaves-2@2x.png 2x" alt="" floating-node-js)
      img(src="img/img-leaves-3.png" srcset="img/img-leaves-3@2x.png 2x" alt="" floating-node-js)
      img(src="img/img-leaves-1.png" srcset="img/img-leaves-1@2x.png 2x" alt="" floating-node-js)
    .main__bg-visual

  .c-grid
    .main__wrapper

      div
        h1.main__title Our Story
        p.main__subtitle 4Seasons Grow Lights is a New Zealand company - the world leader in Grow Light innovation

        .main__btn.c-btn__wrapper
          a.c-btn(href="#about" anchor-js)
            span LEARN MORE

// SECTION :: END
