// SECTION :: START

section#where.where

  .where__bg

  .c-grid
    .where__wrapper

      p.where__title.c-title.c-title--white where to buy
      p.where__desc We do not sell our products online, but you can buy them from our official online retailers. <br>Find all our distributors below, and through these links you can directly access the 4SEASONS products and other components of hydroponics growing equipment offered by each of these sites.

      .where__block-wrapper
        div
          .where__block
            a.where__block-head(href='#')
              img(src="img/img-herbal-logo.png" srcset="img/img-herbal-logo@2x.png 2x" alt="")
            .where__block-body
              p!= "official DISTRIBUTOR <br><a href='#'>herbal house</a>"
              span Herbal House is New Zealand’s leading online hydroponic store specializing in grow tents, LED grow lights, hydroponic grow kits, HPS lighting, hydroponic plant nutrients and general hydroponics indoor growing equipment.
        div
          .where__block
            a.where__block-head(href='#')
              img(src="img/img-eclipse-logo.png" srcset="img/img-eclipse-logo@2x.png 2x" alt="")
            .where__block-body
              p!= "Partner store <br><a href='#'>ECLIPSE GROW TENTS</a>"
              span The Eclipse Grow Tents are some of the strongest grow tents for sale in New Zealand, and are perfect for the veg, flower and propagation stages of plant growth.
        div
          .where__block
            a.where__block-head(href='#')
              img(src="img/img-goliath-logo.png" srcset="img/img-goliath-logo@2x.png 2x" alt="")
            .where__block-body
              p!= "Partner store <br><a href='#'>goliath nutrients</a>"
              span Nutrient experts, who deliver to clients record results through extensively tested and uniquely formulated flowering enhancer. Goliath ensures you're getting the most yield for your garden.
        div
          .where__block
            a.where__block-head(href='#')
              img(src="img/img-imperial-logo.png" srcset="img/img-imperial-logo@2x.png 2x" alt="")
            .where__block-body
              p!= "partner store <br><a href='#'>imperial ventilation</a>"
              span Good ventilation is vitally important in hydroponic plant growth, it sparks the essential photosynthesis process. It’s as important as LED grow lights, nutrients, and grow tents. With Imperial ventilation packages, you will.

// SECTION :: END
