// SECTION :: START

section#delivery.delivery

  .delivery__bg
    img(src="img/img-delivery-visual.png" alt="")

  .c-grid
    .delivery__wrapper

      p.delivery__title.c-title Delivery & Warranty

      .delivery__box-wrapper
        div
          .delivery__box
            .delivery__box-head
              i.icon-font.icon-package
            .delivery__box-body
              p Free NZ Delivery
              span We deliver throughout NZ and Australia, ensuring that we provide the highest levels of responsiveness to you at all times.
        div
          .delivery__box
            .delivery__box-head
              i.icon-font.icon-guarantee
            .delivery__box-body
              p We Guarantee
              span We ensure quality from start to finish. All products comes standard with our 2 year new parts warranty.
        div
          .delivery__box
            .delivery__box-head
              i.icon-font.icon-growth
            .delivery__box-body
              p Best Outcome
              span 4Seasons are world leaders in Grow Light innovation. We ensure your plants receive the highest quality light available.

// SECTION :: END
