// SECTION :: START

section#gallery.gallery

  .gallery__bg

  .c-grid
    .gallery__wrapper

      .gallery__header
        div
          h6.gallery__title.c-title 4Seasons Grow Light in use

        div

          .gallery__btn-wrapper
            a.gallery__btn.gallery__btn--prev(href="#")
              span <
            a.gallery__btn.gallery__btn--next(href="#")
              span >

  .gallery__slider
    .gallerySwiper.swiper-container
      .swiper-wrapper(popup-gallery-js)
        each val, idx in [1,2,3]
          .swiper-slide
            a.gallery__box(href="img/img-gallery-1.jpg" title='[Product Name]')
              img(src="img/img-gallery-1.jpg" alt="")
              i.icon-font.icon-zoom-in
          .swiper-slide
            a.gallery__box(href="img/img-gallery-2.jpg" title='[Product Name]')
              img(src="img/img-gallery-2.jpg" alt="")
              i.icon-font.icon-zoom-in
          .swiper-slide
            a.gallery__box(href="img/img-gallery-3.jpg" title='[Product Name]')
              img(src="img/img-gallery-3.jpg" alt="")
              i.icon-font.icon-zoom-in
          .swiper-slide
            a.gallery__box(href="img/img-gallery-4.jpg" title='[Product Name]')
              img(src="img/img-gallery-4.jpg" alt="")
              i.icon-font.icon-zoom-in

// SECTION :: END
