// SECTION :: START

main#main.main

  .main__img
    img(src="img/img-main-bg@2x.jpg" alt="")

  .main__bg
    .main__bg-branch
      img(src="img/img-leaves-1.png" srcset="img/img-leaves-1@2x.png 2x" alt="" floating-node-js)
      img(src="img/img-leaves-2.png" srcset="img/img-leaves-2@2x.png 2x" alt="" floating-node-js)
      img(src="img/img-leaves-3.png" srcset="img/img-leaves-3@2x.png 2x" alt="" floating-node-js)
      img(src="img/img-leaves-1.png" srcset="img/img-leaves-1@2x.png 2x" alt="" floating-node-js)
    .main__bg-visual
    .main__bg-product
      img(src="img/img-main-product.png" srcset="img/img-main-product@2x.png 2x" alt="")

  .c-grid
    .main__wrapper

      div
        h1.main__title EFFECTIVE & EFFICIENT
        p.main__subtitle Boasting the XP35 COB, Leading Grow Light Innovation
        p.main__desc Increase efficiency to maximise your profit

        .main__btn.c-btn__wrapper
          a.c-btn(href="#")
            span SHOP NOW

// SECTION :: END
