// SECTION :: START

main#main.main

  .main__bg
    .main__branch

    div
      img(src="img/img-main-product.png" srcset="img/img-main-product@2x.png 2x" alt="")

  .c-grid
    .main__wrapper

      div
        h1.main__title EFFECTIVE & EFFICIENT
        p.main__subtitle Boasting the XP35 COB, Leading Grow Light Innovation
        p.main__desc Increase efficiency to maximise your profit

        .main__btn.c-btn__wrapper
          a.c-btn(href="#")
            span SHOP NOW

// SECTION :: END
