// SECTION :: START

section#popular.popular
  .c-grid

    p.popular__title.c-title OUR MOST POPULAR LED GROW LIGHT
    p.popular__desc Free Delivery Across Australia and 2 Year Warranty Included

    .popular__wrapper
      .popular__wrapper-left

        p.popular__name 4Seasons LUMA 400 LED Grow Light

        .popular__rating
          i.icon-font.icon-star-full
          i.icon-font.icon-star-full
          i.icon-font.icon-star-full
          i.icon-font.icon-star-full
          i.icon-font.icon-star-half
          span 29 Reviews

        p.popular__old $450

        p.popular__new $990

        p.popular__info
          span or 4 interest-free payments of with
          img(src="img/img-afterpay-logo.png" srcset="img/img-afterpay-logo@2x.png 2x" alt="")

        p.popular__ships
          i.icon-font.icon-work-done
          span In stock! Usually ships within 24 hours.

        .popular__count
          div
            a.popular__count-btn(href="#" count-minus-js) -
            input.popular__count-input(type='text' placeholder="" value="1" count-js)
            a.popular__count-btn(href="#" count-add-js) +
          div
            .c-btn__wrapper
              a.c-btn(href="#")
                span BUY

        .popular__details
          p Specifications
          ul
            li
              span • 1341 PARumol @ 30cm above canopy
            li
              span • 3500k 4Seasons XP35 GEN 6 COBs
            li
              span • Full Dimmable Power Control
            li
              span • 100% Silent Fan-less design with Passive Cooling Heatsinks
            li
              span • 80CRI
            li
              span • 100w Power Consumption
            li
              span • Exceeds 50,000 hours lifespan
            li
              span • 2 Year Warranty
            li
              span •  90degree Lenses with 92% light transmittance.

          a(href="#") Learn more >

      .popular__wrapper-right

        .popular__share
          p Share
          div
            a(href="#")
              i.icon-font.icon-facebook
            a(href="#")
              i.icon-font.icon-twitter
            a(href="#")
              i.icon-font.icon-whatsapp

        .popular__slider
          div
            .popularSwiper.swiper-container
              .swiper-wrapper(popup-popular-js)
                .swiper-slide
                  img(src="img/img-products-1.png" alt="")
                  a(href="img/img-products-1.png" title='[Product Name]')
                    i.icon-font.icon-zoom-in
                .swiper-slide
                  img(src="img/img-products-2.png" alt="")
                  a(href="img/img-products-2.png" title='[Product Name]')
                    i.icon-font.icon-zoom-in
                .swiper-slide
                  img(src="img/img-products-3.png" alt="")
                  a(href="img/img-products-3.png" title='[Product Name]')
                    i.icon-font.icon-zoom-in
                .swiper-slide
                  img(src="img/img-products-4.png" alt="")
                  a(href="img/img-products-4.png" title='[Product Name]')
                    i.icon-font.icon-zoom-in
                .swiper-slide
                  img(src="img/img-products-5.png" alt="")
                  a(href="img/img-products-5.png" title='[Product Name]')
                    i.icon-font.icon-zoom-in
                .swiper-slide
                  img(src="img/img-products-6.png" alt="")
                  a(href="img/img-products-6.png" title='[Product Name]')
                    i.icon-font.icon-zoom-in
          div
            .popularSwiperThumb.swiper-container
              .swiper-wrapper
                .swiper-slide
                  img(src="img/img-products-1.png" alt="")
                .swiper-slide
                  img(src="img/img-products-2.png" alt="")
                .swiper-slide
                  img(src="img/img-products-3.png" alt="")
                .swiper-slide
                  img(src="img/img-products-4.png" alt="")
                .swiper-slide
                  img(src="img/img-products-5.png" alt="")
                .swiper-slide
                  img(src="img/img-products-6.png" alt="")

// SECTION :: END
