// SECTION :: START

section#product.product

  .product__bg
    img(src="img/img-product-visual.png" srcset="img/img-product-visual@2x.png 2x" alt="")
    img(src="img/img-product.png" srcset="img/img-product@2x.png 2x" alt="")
  .product__bg-branch
    img(src="img/img-leaves-3.png" srcset="img/img-leaves-3@2x.png 2x" alt="" floating-node-js)
    img(src="img/img-leaves-2.png" srcset="img/img-leaves-2@2x.png 2x" alt="" floating-node-js)
    img(src="img/img-leaves-1.png" srcset="img/img-leaves-1@2x.png 2x" alt="" floating-node-js)

  .c-grid
    .product__wrapper
      div

        p.product__title Samsung LM301B With Meanwell Driver
        p.product__desc Quantum PAR series is the efficiency king of high yielding LED Growth Lights, boasting 2.6 umol/J
        .c-btn__wrapper.c-btn__wrapper--end
          a.c-btn(href="#")
            span SHOP NOW

// SECTION :: END
