// SECTION :: START

section#product.product

  .product__bg
    img(src="img/img-product-visual.png" srcset="img/img-product-visual@2x.png 2x" alt="")
    img(src="img/img-product.png" srcset="img/img-product@2x.png 2x" alt="")

  .c-grid
    .product__wrapper

      p.product__title Samsung LM301B With Meanwell Driver
      p.product__desc Quantum PAR series is the efficiency king of high yielding LED Growth Lights, boasting 2.6 umol/J
      .c-btn__wrapper.c-btn__wrapper--end
        a.c-btn(href="#")
          span SHOP NOW

// SECTION :: END
