// SECTION :: START

section#video.video

  .video__bg
    // https://www.youtube.com/watch?v=lQN3MXNwGL0&ab_channel=HerbalHouseNZ
    video(autoplay muted loop)
      source(src="img/video.mp4" type="video/mp4")

    i.icon-font.icon-play

  .c-grid
    .video__wrapper
      div

        h6.video__title.c-title.c-title--gold Designing the best LED Grow Lights since 2016
        p.video__desc We are a New Zealand company that specializes in manufacturing high-quality Agricultural lighting solutions focusing on the latest LED technology. Each component is built uniquely to our own specifications and work harmoniously together to ensure your plants receive the highest quality light available. We are immensely proud to have our assembly line locally in Auckland, meaning every single LED is hand built in New Zealand and is designed to operate in New Zealand climate and to local regulatory standards.

        .c-btn__wrapper.c-btn__wrapper--end
          a.c-btn(href="https://www.youtube.com/watch?v=lQN3MXNwGL0&ab_channel=HerbalHouseNZ" data-effect='mfp-zoom-in' popup-video-js)
            span WATCH VIDEO

// SECTION :: END
